<div class="modal">
    <div class="modal-body">
        <h4>Add Item</h4>
        <form [formGroup]="itemForm" (ngSubmit)="saveToList()">
            <div class="col-md-6">
                <label>Number of Items : </label> {{numberOfItems}}
            </div>
            <div class="col-md-6">
                <label>Item Name</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" formControlName="name">
                <button class="button mt-1" type="submit">Save</button>
            </div>
        </form>
    <div>
</div>